<?xml version="1.0" encoding="UTF-8" ?>
<Configuration monitorInterval="60">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>
        <Logger name="org.apache.spark" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.spark_project.jetty.server.handler.ContextHandler" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.spark-project" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.hadoop" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.parquet" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.avro" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
        <Logger name="org.apache.http" level="ERROR" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>
    </Loggers>
</Configuration>
